body {
  color: black;
  font-family: arial, helvetica;
  background-color: white;
}

header {
  width: 30%;
  line-height: 100%;
}

nav {
  display: flex;
  align-items: center;
  color: white;
  background-color: darkgrey;
  opacity: .9;
  text-indent: 50px;
  text-align: left;
  

}

.logo {
      font-size: 2em;
      font-style: italic;

}



nav ol {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content:space-around;

}

.logo {
  display: inline;
  color: white
}



main {
  position: relative;
  text-align: left;
  
  
}



#home1 {
    position: absolute;
    top: 15%;
    background-color:lightgreen;
    color: black;
    
    
}

#home2 {
    position: absolute;
    left: 20%;
    width: 60%;
    height: 500px;
    background-image:url(/girl-and-clouds.jpg);
    color: black;
}

#home2 > div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    
}

#home3 {
    position: absolute;
    right: 0%;
    background-color:lightblue;
    color: black;
}


#temple-2A img{
  width: 20%;
  
}

.photos img{
  width: 30%;
  
}

.photos1 img{
  width: 30%;
  
}





#whyphotodiv2 {
  position: absolute;
  background-color: greenyellow;
  border: 1px solid green;
  width: 60%;
  margin-top: 20%;
  left: 20%;
  height: 500px;
}

/* camera specs */
#CamSpecTitle{
  width: 50%;
  margin: 0 auto;
  padding: 15px;
  background-color: lightblue;
  
}

#wrapper{
  display: flex;
position: absolute;
  margin-left:23%;
  margin-right: 4%;

}


#CamSpec1{
  width: 30%;
  background-color: lightgreen;
  margin: 1%;
  padding: 1%;
}
#CamSpec2{
  width: 36%;
  background-color: tomato;
  margin: 1%;
  padding: 1%;
}















footer {
  position: absolute;
  bottom: 15px;
  width: 100%;
  background-color: darkgray;
  opacity:.9;
}



footer ul{
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content:space-around;
  padding-top: 15px;
  padding-bottom: 15px;
  
}


