body {
  color: orange;
  font-family: arial, helvetica;
  background-color: white;
}

header {
  width: 30%;
  line-height: 100%;
}

nav {
  display: flex;
  align-items: center;
  color: orange;
  background-color: black;
  opacity: .9;
  text-indent: 50px;
  text-align: left;
  width: 100%;

}

.logo {
  font-size: 2em;
  font-style: italic;

}



nav ol {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;

}

.logo {
  text-align: center;
  color: white;
}


a {
  color: darkorange;
}



main {
  position: relative;
  text-align: left;


}


.bigtext {
  font-size: 1.2em;

}


.index-bigtext {
  font-size: 1.8em;

}


.text-backdrop {
  background-color: rgba(255, 255, 255, .85);


}



#home1 {
  position: absolute;
  top: 15%;
  /*      background-color:lightgreen;*/
  width: 237px;
  height: 580px;


}


#home2 {
  position: absolute;
  left: 20%;
  width: 60%;
  height: 1030px;
  text-align: left;
  background-image: url("../../girl-and-clouds.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20px;



}



#index-photos {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

}








#capture-camera-specs-home2 {
  position: absolute;
  left: 20%;
  width: 60%;
  height: 850px;
  /*    color: black;*/
  text-align: left;
  background-image: url("../../girl-and-clouds.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 90px;

}



#capture-camera-specs-home2 > div {
  /*              display: flex;*/
  flex-flow: row nowrap;
  justify-content: space-between;

}













#welcometag {
  text-align: center;
  width: 95%;
  margin: auto;
  padding: 5px;

}




#Canon-EOS-5D-picture {
  width: 100px;

}

#canon-powershot-picture {
  width: 100px;

}



div#bullets-cameras-and-equipment ol li {
  list-style-type: disc;
}


.online-courses-head {
  width: 20%;
  padding: 15px;

}


#home3 {
  position: absolute;
  right: 0%;
  /*        background-color:black;*/
  width: 237px;
  height: 700px;

}










#skillsbox {
  margin-left: 10%;
  width: 260px;
  margin-top: 15px;

}

#skillsphoto {
  width: 100%;

}


#temple-straight {
  margin-left: 10%;
  width: 260px;

}

#temple-straight-photo {
  width: 200px;

}


#polaroid-temple {
  margin-left: 570px;
  width: 200px;
  /*  background-color: lightgreen;*/
}

#polaroid-temple-photo {
  width: 190px;

}

#meridian-temple-aside {
  margin-left: 60%;

}

#meridian-temple-aside-photo {
  width: 100%;

}


#sharpen-skills-head {
  width: 95%;
  height: 150px;
  margin-top: 20px;
  margin-left: 2%;
  margin-right: 2%;
  padding: 5px;
  /*  background-color: lightgreen;*/
}



#whyphotodiv2 {
  position: absolute;
  background-color: darkred;
  margin-top: 50px;
  left: 20px;
  height: 320px;
  width: auto;
}


#why-photograph-box-1 {
  position: absolute;
  justify-content: center;
  background-color: darkred;
  margin-top: 50px;
  left: 20px;
  height: auto;
  width: 300px;
}



#editing-box1 {
  position: absolute;
  background-color: darkred;
  margin-top: 50px;
  left: 20px;
  height: auto;
  width: 400px;
}


#how-to-videos-box1 {
  position: absolute;
  background-color: darkred;
  margin-top: 50px;
  left: 20px;
  height: 340px;
  width: 355px;
}


#capture-equipment-video-background {
  position: absolute;
  background-color: darkred;
  /*  border: 1px solid grey;*/
  opacity: .91;
  margin-top: 80px;
  left: 30px;
  height: auto;
  width: 450px;

}

#capture-equipment-video {
  width: 430px;
  height: 315px;
  padding: 9px;
}

#the-cloud-video {
  width: 350px;
  height: 215px;
  padding: 9px;
}

#how-to-videos-video{
  width: 330px;
  height: 215px;
  padding: 9px;
/*  background-color: none;*/
}


#sharpen-your-skills-video {
  width: 370px;
  height: 215px;
  padding: 9px;
}




#sharpen-your-skills-photo {
  width: 250px;
  
}

pixlr-photo{
  width: 50px;
  
}



#sharpen-your-skills-textbox {
  position: absolute;
  background-color:beige;
  margin-top: 50px;
  margin-left: 630px;
  left: 20px;
  height: 320px;
  width: 120%;
  
}




#the-cloud-wrapper {
  display: flex;
  margin-top: 10px;
  height: 800px;
  /*  background-color: lightgreen;*/
}



/* camera specs */

#wrapper1 {
  position: absolute;
  width: 95%;
  height: 700px;
  /*  background-color: lightgreen;*/
}



#wrapper {
  display: flex;
  position: absolute;
  margin-top: 30%;
  height: 40%;
/*      background-color: lightgreen*/
}





#CamSpecTitle {
  position: absolute;
  background-image: url(/girl-and-clouds.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
  height: 1000px;
  width: 50%;
  left: 20%;
  padding: 25px;
  background-color: grey;

}

#capture-cameras-text {
  background-color: rgba(255, 255, 255, .85);
  padding: 5px;

}


#the-cloud-text {
  background-color: rgba(255, 255, 255, .85);
  padding: 5px;

}



#CamSpec1-and-CamSpec2 {
  display: flex;
  width: 35%;
  margin-left: 15px;
  margin-top: 15px;
  padding: 5px;
  

}


#capture-camer-specs-boxs {
  display: flex;
  position: absolute;
  margin-top: 10px;
  height: 40%;
/*      background-color: lightgreen*/
}


#CamSpec1 {
  background-color: darkred;
  margin-left: 10%;
  margin-top: 10%;
  height: 125%;
  width: 65%;
  padding: 5px;

}


#capture-cameras-photo-1 {
  width: 230px;
  
}



#capture-cameras-CamSpec1 {
  position: absolute;
  background-color: darkred;
/*  margin-left: 2%;*/
  margin-top: 10px;
  top: 8%;
  height: auto;
  width: 39%;
  padding: 5px;

}




#the-cloud-CamSpec1 {
  background-color: darkred;
  height: 400px;
/*  width: 35%;*/
  width: 350px;
  padding: 8px;
  margin-top: 100px;
  
}




#CamSpec2 {
  position: absolute;
  width: 65%;
  background-color: beige;
  height: 65%;
  margin-top: 320px;
  margin-left: 150%;
  padding: 5px;
}

#hand-selfie-photo {
    width: 125%;
    margin-left: -25px; 
}

#google-maps-photo {
  width: 150px;
  
}



#anywhere-anytime-CamSpec1 {
  background-color: darkred;
  margin-left: 1%;
  margin-top: 120px;
  bottom: 5px;
  height: 110%;
  width: 40%;
  padding: 5px;

}



#anywhere-anytime-CamSpec2 {
  background-color: beige;
  position: absolute;
  width: 40%;
  height: 80%;
  margin-top: 290px;
  margin-left: 102%;
  margin-right: 15px;
  padding: 5px;
}



#capture-cameras-CamSpec2 {
  position: absolute;
  background-color: beige;
  top: 40%;
  width: 35%;
  margin-left: 62%;
  margin-top: 15px;
  padding: 5px;
}

#capture-camspec-camera-1 {
    width: 210px;
/*    margin-left: %;*/
    margin-bottom: 10px;
    
}


#the-cloud-CamSpec2 {
  background-color: beige;
  margin-left: 25%;
  padding: 8px;
  height: 330px;
  margin-top: 300px;


}


#camera-shutter-audio {
  padding: 5px;

}



#capture-camers {
  display: flex;


}





footer {
  position: fixed;
  bottom: 3px;
  width: 100%;
  background-color: black;
  opacity: .9;
}



footer ul {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 15px;

}





















@media screen and (max-width:1200px) {


  .logo {
    font-size: 5em;
    font-style: italic;
    background-color: maroon;
  }



  body {
    color: orange;
    font-family: arial, helvetica;
    background-color: white;
    width: 100%;
  }



  nav {
    display: block;
    align-items: center;
    top: 3px;
    width: 100%;
    height: 40%;
    background-color: maroon;


  }



  nav ol {
    list-style: none;
    align-items: center;
    flex-flow: column;
    justify-content: space-around;
    text-align: center;
    display: flex;
    font-size: 2em;

  }


  .text-backdrop {
    background-color: rgba(255, 255, 255, .85);
    font-size: 1.8em;

  }


  #home1 {
    display: none;
  }

  #home2 {
    left: 0%;
    width: 100%;
    padding-bottom: 0px;
    /*    background-image: url(" ");*/
  }



  #home2 > div {
    display: block;
    /*
    flex-flow: row nowrap;
    justify-content: space-between;
*/
  }


  #skillsbox {
    display: block;
    padding: 3%;
    width: 70%;
    margin-top: 15px;

  }

  #skillsphoto {
    display: block;
    width: 120%;

  }


  #temple-straight {
    display: block;
    margin-left: 15%;
    width: 80%;
    /*    background-color: greenyellow;*/
  }

  #temple-straight-photo {
    display: block;
    width: 90%;

  }


  #polaroid-temple {
    display: block;
    margin-left: 10%;
  }

  #polaroid-temple-photo {
    display: block;
    width: 88%;

  }

  #meridian-temple-aside {
    display: block;
    width: 80%;
    margin-bottom: 100%;
    /*    background-color: greenyellow;*/
  }


  #meridian-temple-aside-photo {
    width: 100%;

  }


  #home3 {
    display: none;
  }



  #capture-camera-specs-home2 {
    position: fixed;
    background-image: none;
    width: 100%;
    margin-left: 0px;
    left: 0;
    bottom: 3px;
  }



  #CamSpec2 {
    position: relative;
    left: 0;

  }





  footer {
    display: block;
    align-items: center;
    bottom: 3px;
    width: 100%;
    background-color: maroon;

  }


  footer ul {
    list-style: none;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 2em;
  }


}
