body{color:red;font-family:arial, helvetica;}
            header {width:30%;; line-height:100%}
            
            nav{
              color:blue; 
              background-color:yellow;
              text-indent: 50px;
              padding-top: 30px;
              opacity: .6;
              width: 100%;
              text-align: left;
              
                }
            
            nav ol li {text-align: center}
